* {
    font-family: sans-serif;
    margin: 0;
}

body {
    background: url(../img/fondo.webp);
    background-repeat: no-repeat;
    background-position: center;* {
    background-size: full;
    font-family: sans-serif;
    margin: 0;
}

body {
    background: url(../img/fondo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

header .titulo {
    display: flex;
    text-align: center;
    background-color: rgb(42, 42, 57);
    align-items: center;
    text-decoration: none;
    text-align: center;
}

header .titulo img {
    height: 75px;
    background-color: rgb(42, 42, 57);
}

header .titulo h1 {
    color: white;
    background-color: rgb(42, 42, 57);
}

header .encabezado{
    background-color: rgb(42, 42, 57);
    text-align: center;
    padding: 10px 0px 15px 0px;
    
}

header .encabezado a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    margin: 5px;
}

header .linea1 {
    background-color: blueviolet;
    padding: 2px;
}

section .login {
    text-align: center;
    background-color: rgb(42, 42, 57);
    padding: 40px 0px 40px 0px;
    margin: 50px 70px 50px 70px;
    border-radius: 15px;
    border: 4px solid blueviolet;
}

section .titulo {
    color: white;
    margin: 0px 0px 15px 0px;
}

section input {
    color: black;
    padding: 2px;
    margin: 2px;
}

section button {
    margin: 15px 0px 0px 0px;
}

footer .linea2 {
    background-color: blueviolet;
    padding: 2px;
}

footer {
    background-color: rgb(42, 42, 57);
    padding: 0px 0px 175px 0px;
}

footer .media {
    text-align: center;
}

footer .media h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px 0px 30px 0px;
}

footer .media a {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 0px 5px 0px 5px;
}

@media (min-width: 1400px) {
    body {
        background-size: cover;
        background-attachment: fixed;
    }

    header .titulo img {
        height: 100px;
    }

    header .titulo h1 {
        font-size: 40px;
    }

    header .encabezado a {
        font-size: 30px;
        padding: 25px;
    }

    header .encabezado a:hover {
        color: yellow;
    }

    header .linea1{
        padding: 5px;
    }

    section .login {
        padding: 40px 0px 20px 0px;
        margin: 150px 800px 150px 800px;
        border: 6px solid blueviolet;
    }

    section .titulo {
        font-size: 30px;
    }

    section input {
        padding: 5px 2px 5px 2px;
    }
    
    section button {
        margin: 10px;
        padding: 5px;
    }

    footer .linea2 {
        padding: 5px;
    }

    footer {
        padding: 0px 0px 350px 0px;
    }

    footer .media h1{
        font-size: 40px;
    }
    footer .media a {
        font-size: 50px;
    }
}
    background-attachment: scroll;
}

header .titulo {
    display: flex;
    text-align: center;
    background-color: rgb(42, 42, 57);
    align-items: center;
    text-decoration: none;
    text-align: center;
}

header .titulo img {
    height: 75px;
    background-color: rgb(42, 42, 57);
}

header .titulo h1 {
    color: white;
    background-color: rgb(42, 42, 57);
}

header .encabezado{
    background-color: rgb(42, 42, 57);
    text-align: center;
    padding: 10px 0px 15px 0px;
    
}

header .encabezado a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    margin: 5px;
}

header .linea1 {
    background-color: blueviolet;
    padding: 2px;
}

section .login {
    text-align: center;
    background-color: rgb(42, 42, 57);
    padding: 40px 0px 40px 0px;
    margin: 50px 70px 50px 70px;
    border-radius: 15px;
    border: 4px solid blueviolet;
}

section .titulo {
    color: white;
    margin: 0px 0px 15px 0px;
}

section input {
    color: black;
    padding: 2px;
    margin: 2px;
}

section button {
    margin: 15px 0px 0px 0px;
}

footer .linea2 {
    background-color: blueviolet;
    padding: 2px;
}

footer {
    background-color: rgb(42, 42, 57);
    padding: 0px 0px 175px 0px;
}

footer .media {
    text-align: center;
}

footer .media h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px 0px 30px 0px;
}

footer .media a {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 0px 5px 0px 5px;
}
